<!-- template for allReviews -->

<h2 class = "middleHeader">All The Reviews</h2>


<div class = "selectionDiv">
    <form method="GET">
        Semester
        <select type = "text" name = "semester">
            <option value = "all">All</option>
            <option value = "Fall">Fall</option>
            <option value = "Spring">Spring</option>
            <option value = "Summer">Summer</option>
            <option value = "Winter">Winter</option>
        </select>
        Year <input type="text" name="year" value="">
        Professor <input type = "text" name = "professor" value = "">
        <input type = "submit" value = "Filter">
    </form>
</div>

<br />

<div>
<table id = "table" cellpadding="10">
    <tr>
        <th>Course Number</th>
        <th>Course Name</th>
        <th>Semester</th>
        <th>Year</th>
        <th>Professor</th>
        <th>Review</th>
    </tr>
    {{#each reviews}}
        <tr>
            <td>{{courseNumber}}</td>
            <td>{{courseName}}</td>
            <td>{{semester}}</td>
            <td>{{year}}</td>
            <td>{{professor}}</td>
            <td>{{review}}</td>
        </tr>
    {{/each}}
</table>
</div>
